Diacritic\AHK-Studio Backup\*.*
*.bak
Diactric/temp.ahk
Hotstrings/Categories/FirstAndSecondNames.ahk
Temp/MyHomePC.ahk
Otagle2/SciTE.session
Temp/MyHomePC.ahk
Temp/MyHomePC.ahk
Temp/MyHomePC.ahk
Temp/temp.ahk
Hotstrings2/Categories2/FirstAndSecondNames.csv
Hotstrings3/Categories/PersonalHotstrings.csv
Otagle3/WordTemplate/szab_TQ-S402-en_OgolnyTechDok.dotm
Otagle3/WordTemplate/szab_TQ-S402-pl_OgolnyTechDok.dotm
Otagle3/WordTemplate/TQ-S402-en_OgolnyTechDok.dotm
Otagle3/WordTemplate/TQ-S402-en_OgolnyTechDok.exportedUI
Otagle3/WordTemplate/TQ-S402-en_OgolnyTechDok.txt
Otagle3/WordTemplate/TQ-S402-pl_OgolnyTechDok.dotm
Otagle3/WordTemplate/TQ-S402_OgolnyTechDok.exportedUI
Otagle3/WordTemplate/TQ-S402_OgolnyTechDok.txt
Hotstrings3/Categories/New.csv
