/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
@font-face{
    font-family:'lato';
    src: url('../Assets/Lato/Lato-Regular.ttf');
}
:root{
    font-family: 'Lato', sans-serif;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

main {
    display: block;
    width: 100%;
    height: 77.9vh;
    overflow: auto;
}

/*
    Window Bar 
*/
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #0081b4;
    color: #fff;
    position: relative;
}

.title-bar {
    padding: 1.1rem 0.2rem;
    flex-grow: 1;
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 20px;
}

.title-btn__item {
    cursor: pointer;
    padding: 1rem 1.1rem;
    vertical-align: bottom;
    font-size: 12px;
    transition: 0.3s;
    font-weight: 300;
}

.title-btn__item:hover {
    background: rgba(0, 0, 0, 0.2);
}

.title-btn__close:hover {
    background: #dc3545;
}

.bar-icon{
    position: absolute;
    top: 50%;
    width: 18px;
    height: 18px;
    left: 2px;
    margin-left: 5px;
    transform: translateY(-50%);
   
}

.Options {
    display: block;
}
/* 
    Boxes
*/
.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.box_item {
    position: relative;
    margin: 8px auto;
    border: .5px solid #DDD;
    box-shadow: rgba(199, 150, 150, 0.15) 0px 8px 16px 0px;
    transition: .3s;
}

.box_item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2.3px solid #000; */
}

.box_item:hover {
    box-shadow: rgba(18, 112, 100, 0.15)0px 8px 16px 0px;
}

.box_item:hover::after {
    background-color: rgba(0, 0, 0, 0.3);
}
/* 
    Menu Bar
*/
.menu-bar {
    width: 100%;
    background-color: #DDD;
    display: none;
}

.menu-bar.active {
    display: block;
}

.menu-bar__list {
    width: 100%;
    display: flex;
    list-style: none;
}

.menu-bar__item {
    position: relative;
    padding: 5px 2px;
    cursor: pointer;
}

.sub-menu__item {
    text-align: center;
    padding: 5px 2px;
    border-bottom: .25px solid #ccc;
    cursor: pointer;
}

.sub-menu {
    display: none;
    position: absolute;
    width: 130px;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    background-color: #DDD;
    z-index: 999;
    list-style: none;
    transition: .3s;
}

.menu-bar__item:hover .sub-menu {
    display: block;
}

.item__link {
    font-size: 13px;
    padding: 5px 1px;
    margin: auto 5px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.item__link:hover {
    text-decoration: none;
    color: #0081b4;
}
/* 
    Windows Menu
*/
.AboutBox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    transform: translate(-50%, -50%);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    background-color: #fff;
    border: .5px solid #DDD;
    z-index: 999;
}

.AboutBox__title {
    background-color: #0081b4;
    color: #fff;
    padding: 6px 0 6px 4px;
    margin-bottom: 10px;
}

.AboutBox__introdution {
    width: 90%;
    margin: 0 auto;
}

.AboutBox__introdution-p,
.AboutBox__introdution-a {
    font-size: 13px;
}

.AboutBox.active {
    display: block;
}

.btnOk {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 5px 30px;
    background-color: #0081b4;
    font-size: 16px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* 
    Welcome screen
*/
.loader-wrapper{
    position: relative;
    width: 100%;
    height: 70vh;

}
.logo{
    position: absolute;
    display: block;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loader{
    font-size: 20px;
}

.lds-ellipsis {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

